postgres_PG_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzanV6eWJmbmRjenlyYWxja2VjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2Njg1MzEsImV4cCI6MjA4MDI0NDUzMX0.gr5uvkMO6PKhJx6RJ96PXAGRhMLpxaN2gG89k50UaOo"
postgres_PG_SUPABASE_URL="https://jsjuzybfndczyralckec.supabase.co"
postgres_POSTGRES_DATABASE="postgres"
postgres_POSTGRES_HOST="db.jsjuzybfndczyralckec.supabase.co"
postgres_POSTGRES_PASSWORD="ekUrWqCWxU2f6CCZ"
postgres_POSTGRES_PRISMA_URL="postgres://postgres.jsjuzybfndczyralckec:ekUrWqCWxU2f6CCZ@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
postgres_POSTGRES_URL="postgres://postgres.jsjuzybfndczyralckec:ekUrWqCWxU2f6CCZ@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
postgres_POSTGRES_URL_NON_POOLING="postgres://postgres.jsjuzybfndczyralckec:ekUrWqCWxU2f6CCZ@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require"
postgres_POSTGRES_USER="postgres"
postgres_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzanV6eWJmbmRjenlyYWxja2VjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2Njg1MzEsImV4cCI6MjA4MDI0NDUzMX0.gr5uvkMO6PKhJx6RJ96PXAGRhMLpxaN2gG89k50UaOo"
postgres_SUPABASE_JWT_SECRET="GiRg3usUBNV6VWW7nCvl8J2ooJz1PmtbexfJ9iCaW0LcmtDc18AMcCNv0d+gBDNxlhz4UNLGhFZ3EiIdCxu8OQ=="
postgres_SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzanV6eWJmbmRjenlyYWxja2VjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDY2ODUzMSwiZXhwIjoyMDgwMjQ0NTMxfQ.LSfqb81iZ8DF08rJq41I5bL7Ex5V8e6yBv5QVlQOEc0"
postgres_SUPABASE_URL="https://jsjuzybfndczyralckec.supabase.co"